@import "~bootstrap/scss/bootstrap";

@keyframes light-bounce-in {
    0% {
      opacity: 0;
      transform: translateY(1%);
    }
  
    50% {
      transform: translateY(-1%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

@keyframes horizontal-bounce-in {
    0% {
      opacity: 0;
      transform: translateX(-1%);
    }
  
    50% {
      transform: translateX(1%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

.ui-container {
    background-color: rgb(255,213,139);
    border: 4px solid rgb(229,120,61);
    filter: drop-shadow(5px 5px 0.25rem rgb(0, 0, 0, 0.2));
    box-shadow: inset 1px 1px 4px rgb(0, 0, 0, 0.5);
    padding: 5px;
}

.animated {
    animation: .5s ease-in-out 0s 1 horizontal-bounce-in;
}

.btn {
    background-color: green;
}