@import "~bootstrap/scss/bootstrap";

// $theme-colors: (
//     "primary": green,
//     "info": rgb(43, 202, 43),
// );

$theme-colors: (
    "info": tomato,
    "danger": teal,
    "primary": red
);

.btn-primary {
    background-color: green;
    border: 1px solid green;
}

.btn-primary:hover {
    background-color: rgb(10, 141, 10);
    border: 1px solid green
}